<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p><font face="Helvetica" color="white">
  RSVP is a real-time information network that connects you to the latest events and news about the UConn Community. Simply find the accounts you find most compelling and follow the User for updates and upcoming events.  You can also chill out in the lounge and interact with other members.
 
</font></p>
  <style>
body
{ 
  background-image:url('http://i45.tinypic.com/2hohhxg.jpg');
background-color: #000000;

background-repeat:no-repeat;
background-attachment:scroll;
background-position:center center; 
}
</style>  