<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p><center><h3>For general questions or comments, please consult the resources listed on the help page. Otherwise, we can be reached at RSVP-opim4895@gmail.com</h3>
 </p>
  <style>
body
{ 
  background-image:url('http://i45.tinypic.com/2hohhxg.jpg');
background-color: #000000;

background-repeat:no-repeat;
background-attachment:scroll;
background-position:center center; 
}
</style> 