<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
 </p>
<style>
body
{ 
background-color: lightgrey;
background-repeat:no-repeat;
background-attachment:scroll;
background-position:center center; 
}
</style>