<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	<h6>Contact the devolpers for assitance</h6>
	Ernesto Soto (203)644-3045 ernesto.soto@uconn.edu
	<br>Walid Namane (203)551-4772 walid.namane@uconn.edu
	<br>Bryant Dominguez (860)543-4118 bryant.dominguez@uconn.edu
	<br>Robert Redmond (203)240-8567 robert.redmond@uconn.edu
</p>