<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>

  <style>
body
{ 
  background-image:url('http://i45.tinypic.com/2hohhxg.jpg');
background-color: #000000;

background-repeat:no-repeat;
background-attachment:scroll;
background-position:center center; 
}
</style>